body{
    margin: :0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    background:white;
    font-size: 1em;
    line-height: 1.5em;
}
#encabezado{
    background:#8b2222;
    color: white;
    height:190px;
    text-align: center;
}
#encabezado a{
    color:white;
    
}
#encabezado img{
    width:150px;
    height:130px;
    float: left;
    padding: 0;
    box-shadow:white;
}
#logo{
    float:none;
    padding: 350px 0 0 355px;
    text-decoration:none;
}
 nav{
    float: right;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 100px;
}
nav ul li a{
    display: block;
    padding:0 20px;
    text-decoration: none;
}
nav ul li a:hover{
    background-color:#555353;
}
#contenido{
    height:50%;
    width:100%;
}
#seccion{
height: 100%;
width:60%;
background:white;
float: left;
}
#paralelo{
    height: 100%;
    float:right;
}
.field {
    display:flex;
    margin:5PX;
    width:30%;
   float:right;
  }
  
  .field>input[type=text],
  .field>button {
    display:block;
  }
  
  .field>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.2em solid #555353;
  }
  
  .field>button {
    padding:0.6em 0.8em;
    background-color:rgb(158, 175, 172);
    color:white;
    border:none;
  }
  #form{
      width: 500px;
      background:#8b2222;
      padding:40px;
      margin: 20px;
      margin-top: 50px;
      border-radius: 4px;
      color: white;
      margin-bottom: 30px;
  }
  #form h4{
      font-size: 22px;
      margin-bottom: 20px;  
      text-align: center;
  }
  .controls{
      width: 100%;
      background: white;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 1px solid gray;
  }
  #formulario p{
      height: 40px;
      text-align: center;
      font-size: 18px;
  }
  #form a{
      color: white;
      text-decoration: none;
  }
  #form a:hover{
      color: white;
      text-decoration: underline;
  }
  #form .boton{
      width: 100%;
      background:#555353;
      border: none;
      padding: 12px;
      color: white;
      margin:16px 0;
      font-size: 16px;
      }
      #buscar{
        width: 400px;
        background:#8b2222;
        padding:30px;
        margin:30px;
        margin-top: 150px;
        border-radius: 4px;
        color: white;
        margin-bottom: 30px;
        text-align: center;
    }
    #buscar nav{
        float:none;
    }
    #buscar nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 20px;
    }
    #buscar nav ul li{
        display: inline-block;
        line-height: 100px;
    }
   #buscar nav ul li a{
        display: block;
        padding:0 20px;
        text-decoration: none;
        background-color:#555353;
        color:white;
        width: 100px;
    }
    .menu-lateral{
        min-height: 100%;
        height: 100%;
        width: 15%;
        background: #8b2222;
        float: left;
    }
    .menu-lateral a{
        text-decoration: none;
        color: white;
        display:block;
        padding: 0 20px;
        padding-bottom: 100px;
        padding-top: 50px;
    }
    .menu-lateral a:hover{
        background: #555353;
    }
    #formulario{
        width: 500px;
        background:#8b2222;
        padding:40px;
        margin: 30%;
        margin-top: 50px;
        border-radius: 4px;
        color: white;
        margin-bottom: 30px;
    }
    #formulario a{
        display: block;
        background: #555353;
        color:white;
        text-decoration: none;
        height: 30px;
    }
